.link {
  color: var(--primary-1);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link.disabled {
  color: var(--neutral-2);
}

.link:not(.disabled):hover {
  color: var(--primary-2);
  border-bottom: 1px solid currentColor;
}
