@import 'assets/styles/palette.css';
@import 'assets/styles/font-sizes.css';
@import 'assets/styles/spaces.css';
@import 'assets/styles/radii.css';
@import 'assets/styles/layers.css';
@import '~normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-body);
  color: var(--neutral-2);
  line-height: 1;
}
